* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #2f495e;
  font-family: "筑紫A丸ゴシック ボールド", "筑紫B丸ゴシック ボールド", "ヒラギノ丸ゴ ProN W4", "ヒラギノ丸ゴ ProN", HGMaruGothicMPRO;
}

main {
  margin: 0px auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 526px;
}

article {
  width: 526px;
}

aside {
  margin: 0px auto;
  width: 526px;
}

h1 {
  display: inline-block;
  font-size: 1.875rem;
  margin-bottom: 3rem;
  position: relative;
}

h2 {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  position: relative;
}

h3 {
  display: inline-block;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}

h4,
h5,
h6 {
  display: inline-block;
  font-size: 1.125rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}

h1:after,
h2:after,
h3:after,
h4:after {
  border-radius: .25rem;
  bottom: -12px;
  content: '';
  display: inline-block;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 80%;
}

h1:after {
  background-color: #00c58e;
}

h2:after {
  background-color: #108775;
}

h3:after {
  background-color: #718096;
}

h4:after {
  background-color: #2f495e;
}

h5:after {
  background-color: #1f394e;
}

h6:after {
  background-color: #0f293e;
}

a {
  color: #00c58e;
  text-decoration: inherit;
}

blockquote {
  color: #718096;
  font-style: italic;
  line-height: 2;
}

hr {
  border: 0;
  border-top: #e2e8f0 solid 1px;
  height: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

img {
  width: 100%;
}

p {
  line-height: 2;
  margin: 0;
  margin-bottom: .25rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
}

code {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-style: normal;
}

pre > code {
  background-color: #2f495e;
  border-radius: .25rem;
  color: #fff;
  display: block;
  margin: 0;
  margin-bottom: .5rem;
  margin-top: .5rem;
  overflow: auto;
  padding: .5rem;
}

p > code {
  background-color: #f7fafc;
  border-radius: .25rem;
  color: #f56565;
  padding: .25rem;
}

/* .hljs {
  background-color: #2f495e;
  color: #fff;
  display: block;
  overflow-x: auto;
  padding: .5em;
} */

ul,
ol {
  list-style-position: inside;
  margin: 0;
  padding-bottom: .25rem;
  padding-left: .25rem;
  padding-top: .25rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

time {
  color: #a0aec0;
  font-size: 0.5rem;
}

strong {
  font-weight: 700;
}

mjx-container[display] {
  margin: 2rem 0;
}

@media screen and (max-width: 992px) {
  main {
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
  }

  article {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}
